@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 1em;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    flex-grow: 1;
}

.producte, .producto {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.producte img, .producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0;
    position: static;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

.intro {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.intro h2 {
    margin-bottom: 1rem;
}

.intro p {
    margin-bottom: 0;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .galeria {
        flex-direction: column;
        align-content: center;
    }
}









